

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color:white;
  background-image: url(bilder/july-22_zQdb5ex4-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
}

main {
  padding:30px;
}

h1 {

  font-size: 2rem;
}

div{
  color: lightgray;
  font-weight: bold;
  background: rgba(0,0,0,0.3);
}
